<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFirstAndroidApp">
        <activity
            android:name=".layout.TestListActivity"
            android:exported="false" />
        <activity
            android:name=".layout.TestformActivity"
            android:exported="false" /> <!-- Foreground Service -->
        <service
            android:name=".BroadcastExample.SystemBroadcastService"
            android:exported="false"
            android:foregroundServiceType="dataSync" /> <!-- Boot Receiver -->
        <receiver
            android:name=".BroadcastExample.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- Permission Activity -->
        <activity
            android:name=".BroadcastExample.PermissionActivity"
            android:exported="true" /> <!-- Other Activities -->
        <activity
            android:name=".BroadcastExample.BroadcastExActivity"
            android:exported="false" />
        <activity
            android:name=".layout.AddressListActivity"
            android:exported="false" />
        <activity
            android:name=".layout.AddressFormActivity"
            android:exported="false" />
        <activity
            android:name=".layout.UserListActivity"
            android:exported="false" />
        <activity
            android:name=".layout.FormActivity"
            android:exported="false" />
        <activity
            android:name=".layout.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>